# Roblox files
*.rbxl.lock

# Build artifacts
build/
dist/

# IDE files
.vscode/
*.code-workspace

# Wally packages
Packages/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

*.blend
*.blend1
*.fbx

*.png
